---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About | pinglin.io';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col md:flex-row gap-6 items-start">
    <div class="flex flex-col gap-4">
      <p>Hello and welcome! 🤗</p>
      <p>
        I'm Ping-Lin Chang (張秉霖), and my friends call me Pinglin. I'm thrilled to connect with
        you online and excited to see you here.
      </p>
      <p>
        Feel free to reach out to me through any of your favorite channels listed on the top. ☝️
      </p>
      <p>
        Right now, I'm on an exciting journey to transform how unstructured data is processed and
        utilised, working alongside my co-founder <a
          href="https://www.linkedin.com/in/xiaofeidu/"
          class="text-info hover:underline"
        >
          Xiaofei Du
        </a> at
        <a href="https://www.instill.tech" class="text-info hover:underline">Instill AI</a>. 🚀
      </p>
    </div>
    <div class="md:w-2/5 flex-shrink-0">
      <img
        src="/me.jpg"
        class="w-full h-auto rounded-lg shadow-md hover:shadow-lg dark:shadow-gray-700 dark:hover:shadow-gray-600 transition-shadow duration-300"
      />
    </div>
  </div>
  <br />
  <div class="flex flex-col gap-4">
    <h2>Biography</h2>
    <h3>Biography1</h3>
    <h4>Biography2</h4>
    <p>
      I grew up in Pingtung, Taiwan. Due to the limited resources in this rural area, I had an
      intense desire to access more opportunities and face bigger challenges from a young age. I was
      introduced to computers and the internet early on. At 14, I built a website using Microsoft
      FrontPage, offering MP3 downloads at a time when copyright issues weren't yet a concern, and
      we were still using 56k dial-up modems to connect to the Internet.
    </p>

    <p>
      As my teenage years unfolded, my life was fueled by rock'n'roll. Playing in bands as a main
      vocalist and guitarist, I immersed myself in the music of Oasis, Guns N' Roses, Radiohead,
      Nirvana, and Beatles. This passion guided me through my formative years and eventually (kind
      of weirdly) led me to National Cheng Kung University in 2003, where I majored in Engineering
      Science. While my studies covered a broad range of topics, it was computer science that truly
      captivated me. My work on a neural network project using Self-Organizing Maps for image
      segmentation solidified my love for software development.
    </p>

    <p>
      Recognizing Taiwan's strength in hardware but its weakness in software, I decided to pursue
      further education abroad in the UK. I earned a master's degree in Artificial Intelligence from
      the University of Southampton, followed by a PhD in Robotic Vision at Imperial College London.
      My research focused on Visual Simultaneous Localization and Mapping (VSLAM), Deep Learning,
      and high-performance programming languages like C/C++ and CUDA. This period marked my deep
      dive into solving real-world problems using advanced technologies.
    </p>

    <p>
      After completing my PhD, I joined University College London as a Postdoctoral Research
      Associate, contributing to the EU-funded <a
        href="https://www.cascade-fp7.eu/index.html"
        class="text-info hover:underline"
      >
        CASCADE
      </a>
      project aimed at advancing autonomous robotic surgery. It was here that I realized the profound
      gap between academic research and real-world application. This realization ignited my journey into
      entrepreneurship.
    </p>

    <p>
      My first startup, <a href="https://umbocv.ai" class="text-info hover:underline">
        Umbo Computer Vision
      </a>, sought to revolutionize video security through real-time computer vision. This
      experience illuminated a critical gap in handling unstructured data—an area with insufficient
      tooling and often requiring expensive AI and data teams.
    </p>

    <p>
      Determined to address this challenge, I founded <a
        href="https://www.instill.tech"
        class="text-info hover:underline"
      >
        Instill AI
      </a> to provide more efficient solutions for unstructured data processing. As Generative AI, large
      language models (LLMs), vision language models (VLMs), and large multimodal models (LMMs) emerged
      in 2022, it became clear that while these technologies made significant strides, the software tooling
      needed to keep pace.
    </p>

    <p>
      The journey continues as I work to make these groundbreaking technologies accessible and
      effective for all.
    </p>
  </div>
  <br />
  <div class="flex flex-col gap-4">
    <h2>Publications</h2>
    <p>
      Check out my <a
        href="https://scholar.google.com/citations?user=mR95vtsAAAAJ&hl=en"
        class="text-info hover:underline"
      >
        Google Scholar
      </a> profile for more details.
    </p>
  </div>
  <br />
  <div class="flex flex-col gap-4">
    <h2>Acknowledgement</h2>
    <p>
      This site wouldn't be possible without <a
        href="https://astro.build"
        class="text-info hover:underline"
      >
        Astro
      </a> and LLMs.
    </p>
  </div>
</BaseLayout>
