---
import BaseLayout from '../layouts/BaseLayout.astro';

const pageTitle = 'About | pinglin.tw';
---

<BaseLayout pageTitle={pageTitle}>
  <div class="flex flex-col md:flex-row gap-6 items-stretch">
    <div class="flex flex-col gap-4">
      <p>Hello there!</p>
      <p>
        I'm Ping-Lin Chang (張秉霖), and friends call me Pinglin. Currently, I'm co-founding
        <a href="https://www.instill.tech" class="text-info hover:underline">Instill AI</a> with
        <a href="https://www.linkedin.com/in/xiaofeidu/" class="text-info hover:underline">
          Xiaofei Du
        </a>, where we're revolutionizing unstructured data processing. Some facts about me:
      </p>
      <ul class="list-disc list-inside space-y-1">
        <li>Entrepreneur passionate about AI and data</li>
        <li>Proud father of one</li>
        <li>Music enthusiast with relative pitch</li>
      </ul>
      <p class="md:mt-auto pt-2">
        Check out my <a
          href="https://scholar.google.com/citations?user=mR95vtsAAAAJ&hl=en"
          class="text-info hover:underline"
        >
          Google Scholar
        </a> profile for more details.
      </p>
    </div>
    <div class="md:w-2/5 flex-shrink-0">
      <img src="/me.jpg" class="w-full h-auto rounded-md" />
    </div>
  </div>
</BaseLayout>
