---
export interface Props {
  url: string;
  title: string;
  description: string;
  image: {
    url: string;
    alt: string;
  };
  pubDate: Date;
}

const { url, title, pubDate } = Astro.props;
const adjustedUrl = url.replace(/^\/blog\/zh-tw\//, '/zh-tw/blog/');

const locale = Astro.currentLocale === 'zh-tw' ? 'zh-TW' : 'en-US';
let formattedDate = new Date(pubDate).toLocaleDateString(locale, {
  year: 'numeric',
  month: 'long',
  day: 'numeric',
});

if (Astro.currentLocale === 'zh-tw') {
  formattedDate = formattedDate.replace(/(\d+)/g, ' $1 ').replace(/\//g, '年').trim();
}
---

<article>
  <div class="flex justify-between items-center">
    <p class="mr-4 w-2/3 text-lg break-words"><a href={adjustedUrl}>{title}</a></p>
    <p class="ml-4">{formattedDate}</p>
  </div>
</article>
