---
import SpeedInsights from '@vercel/speed-insights/astro';
import SEO from '../components/SEO.astro';
import TableOfContents from '../components/TableOfContents.astro';
import ScrollToTop from '../components/ScrollToTop.astro';
import ImageModal from '../components/ImageModal.astro';
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';

import '../styles/global.css';
interface Props {
  pageTitle?: string;
  description?: string;
  image?: string;
}

const { pageTitle: title, description, image } = Astro.props;
---

<script is:inline>
  function getTheme() {
    if (typeof localStorage !== 'undefined' && localStorage.getItem('theme')) {
      return localStorage.getItem('theme');
    }
    return 'wireframe'; // Default theme
  }

  function setTheme(theme) {
    document.documentElement.setAttribute('data-theme', theme);
    localStorage.setItem('theme', theme);
  }

  setTheme(getTheme());

  document.addEventListener('astro:after-swap', () => {
    setTheme(getTheme());
  });

  // Set initial theme
  document.documentElement.setAttribute('data-theme', getTheme());
</script>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" sizes="any" href="/favicon.svg" />
    <link rel="icon" type="image/png" sizes="48x48" href="/favicon.png" />
    <link
      href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@300;400;500;600;700&display=swap"
      rel="stylesheet"
    />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <SEO {title} {description} {image} />
  </head>

  <body
    class="flex flex-col border-l border-r border-b border-gray-200 dark:border-gray-600 rounded-b-xl dark:shadow-gray-600"
  >
    <ImageModal />
    <TableOfContents />
    <ScrollToTop />
    <Header />
    <main class="flex-grow w-full px-4 py-8">
      <div class="w-full max-w-none mx-auto">
        <slot />
      </div>
    </main>
    <Footer />
    <SpeedInsights />
  </body>
</html>
